
nav{

    display: flex;
    justify-content:space-between;
    text-align: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 3px;
    font-size: 25px;

}
nav ul li:hover{
    color:red;
}
*{
    margin-left:3px;
    padding: 0px;
}
  .ulu{
  display: flex;
  justify-content:space-between;
  list-style: none;
  align-items: center;
  gap: 40px;
  
}
header{
    background-color:whitesmoke;
}
.button{
    background-color:rgb(5, 5, 250);
    padding: 10px 20px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border:1px solid blue;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 4px;
}
img{
    max-width: 100%;
    margin-top: 4px;
    margin-right: 25px;
}
 .hero{ 
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pic{
    background-image: url(banner.jpg);
    height:800px;
    background-repeat: no-repeat;
    background-size: cover;

}
.down{
    margin-top: 90px;
    
}
#go{
    margin-top: 9px;

}
div h4{
    font-size: 30px;
    color:white;
    margin: 0px 0px 0px 0px;
}
#button
{    background-color:rgb(5, 5, 250);
    padding: 15px 25px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border:1px solid blue;
    border-radius: 10px;
    margin-top: 240PX;
}
h1{
    color: white;
    font-weight: bold;
    font-size: 100px;
}
.met{
    text-align: center;
    font-size: 50px;
    font-weight:bold;
    font-style: normal;
    margin-top: 15px;
    margin-bottom: 9px;
    
}
.card1 ,.card2{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    max-width: 1200px;
    margin: auto;
    padding-left:30px;
gap: 20px;
}
#car1,#car2{
    border: 1px solid rgb(233, 221, 221);
    border-radius: 15px;
    margin-bottom: 15px;
    text-align:left;

}
#car3,#car4{
    
border: 1px solid rgb(233, 221, 221);
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 10px;

}
.blue{
    color: rgb(77, 77, 213);
    margin-bottom: 3px;
    padding-left: 15px;
    margin-bottom: 3px;
}
.gary{
    color:rgb(105, 102, 102);
    margin-top: 3px;
    padding-left: 15px;
    margin-bottom: 3px;
}
.card{
    text-decoration:double;
}
h2{
    padding-left: 15px;
}
.blod,.small{
    text-align: center;
}
.blod{
    font-size: 90px;
    font-weight: 40px;
    margin-top: 120px;
    margin-bottom: 0px;
    text-align: center;
}
.small{
    font-size:30px;
    margin-top: 4px;
}
.by{
    display: flex;
    justify-content: center;
    gap:15px;
    max-width: 1200px;
    margin: auto;
}
.c1,.c2,.c3{
    border: 1px solid green;
    padding:12px;
}
p{
    margin:2px;
    font-size: 20px;
}
.b{
    font-weight: bold;
    font-size: 28px;
}
.w{
    color:rgb(124, 119, 119);
}
.c1,.c3{
    border: 1px solid rgb(180, 177, 177);
    border-radius: 12px;

}
.first,.second,.third{
   
    background-color: aliceblue;
    padding: 5px 68px;
    font-weight: bold;
    font-size: 17px;
    color:blue;
    border:2px solid rgb(5, 5, 233);
    border-radius: 10px;

    
}
.n{
    color: cadetblue;
}
.second{
    background-color: blue;
    color: white;
}
.third{
    border: 1px solid black;
    border-radius: 12px;
    color: black;
}
.bc{
    color:aliceblue;
}
.c2{
background-color: rgb(24, 23, 23);
color: white;
border: 1px solid gray;
border-radius: 12px;
}
.color li::marker{
    color:blue;

}
.content{
    display: flex;
    max-width: 1200px;
margin-left: 110px;
margin-right: 110px;
    
    font-size: 25px;
border: 2px solid purple;
border-radius: 15PX;
border-style:dashed;
height:100%;
margin-top:6px;
padding-left: 330px;
padding-bottom: 10px;
padding-bottom: 10px;
color:red;
background-color:#c4bded;
}
.gone{
    font-size: 80px;
    font-weight: 35px;
    margin-top: 100px;
    margin-bottom: 0px;
    text-align: center;
    color:rgb(12, 136, 95);
}
.logo,.fb,.ls{
    display: flex;
    justify-content: space-between;
}
.ft{
    margin-top: 100px;
    background-color: #1E2A32;
    border:1px solid #1E2A32;
    border-radius: 10px;
    height: 100px;
}
.logo,.social{
    margin-top: 8px;
    margin-left: 50px;
    margin-bottom: 5px;
}
.social{

    margin-right: 50px;
    

}
.a{
    text-align: center;
    margin-bottom: 9px;
}
.bye{
    margin-left: 50px;
    font-weight: bold;
    color: black;
}
.ls{
    display: flex;
    margin-right:50px;
    gap: 40px;
}